<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(string.IsNullOrEmpty(ViewData["Title"] as string) ? "Quantify" : ViewData["Title"] + " - Quantify")
    </title>

    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quantify.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="wrapper">
        <header>
            <h1>°ºQuantify◈</h1>
            <nav>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Products" asp-action="ProductList">Products</a>
            </nav>
        </header>

            <main role="main" class="pb-3">

                @RenderBody()

            </main>

        <footer class="border-top footer text-muted">
            &copy; 2026 - Quantify - 
            <a href="https://github.com/Zileena6" target="_blank" rel="noopener noreferrer">
                Linda Leminaho
            </a>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
