<div class="description">
    <h2>Welcome To Quantify!</h2>
    <p>
        This is the first exercise in the ASP.NET course, 
        where we work with the Model-View-Controller (MVC) architectural pattern.
    </p>

    <p>
        The purpose of this exercise is to understand the fundamental structure of an ASP.NET Core MVC application 
        and how the different components interact with each other. 
    </p>

    <p>
        The application demonstrates how to organize code
        using models, services, controllers, views, and partial views.
    </p>
</div>